<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link rel="stylesheet" href="slider.css">
</head>
<body>
    <div class="slider">
        <img src="../../Static/JPG/1.jpg" alt="Изображение 1" class="slide">
        <img src="../../Static/JPG/2.jpg" alt="Изображение 2" class="slide">
        <img src="../../Static/JPG/3.jpg" alt="Изображение 3" class="slide">
    </div>
    <div>
        <button class="prev">Previous</button>
        <button class="next">Next</button>
    </div>
    <script type="text/javascript" src="../Static/JS/about.js"></script>
</body>
</html>
